[core]
    editor = vim
[user]
    name = otubo
    email = eduardo.otubo@gmail.com
[sendemail]
    smtpserver = SMTP
    envelopesender = EMAIL
[color]
    ui = auto
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
